<% title="base-sinatra-modular-rack-haml-assetpack-example" %>

<!doctype html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
</head>
<body>
  <header>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href="/" title="Home">Home</a></li>
      </ul> 
    </nav>
  </header>
  <section>
    <%= yield %>
  </section>
</body>
</html>