!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title= @title
    %link{ href:"http://fonts.googleapis.com/css?family=Open+Sans:400,300",
           rel: "stylesheet", type: "text/css" }

    -# sintaxis from assetpack
    != css :application, :media => 'screen'
  %body
    %header
      %h1= @title
    %section
      = yield